* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: var(--bg-main);
    color: var(--text-primary);
    line-height: 1.6;
}

button {
    font-family: inherit;
    cursor: pointer;
    transition: var(--transition);
}

a {
    text-decoration: none;
    color: inherit;
}